<form action="{% url 'participant' %}">
    <div id="wizard">
        <!-- SECTION 1 -->
        <h4></h4>
        <section>
            <div class="form-row form-group">
                <div class="form-holder">
                    <label for="">
                        Имя *
                    </label>
                    <input type="text" name="first_name" class="form-control" required>
                </div>
                <div class="form-holder">
                    <label for="">
                        Фамилия *
                    </label>
                    <input type="text" name="last_name" class="form-control" required>
                </div>
            </div>
            <div class="form-row">
                <label for="">
                    Страна *
                </label>
                <div class="form-holder">
                    <select name="country" id="" class="form-control" required>
                        {% for country_code, country in countries.items %}
                            <option value="{{ country_code }}" class="option">{{ country }}</option>
                        {% endfor %}
                    </select>
                    <i class="zmdi zmdi-caret-down"></i>
                </div>
            </div>
            <div class="form-row">
                <label for="">
                    Город *
                </label>
                <input type="text" name="address" class="form-control" required>
            </div>
            <div class="form-row">
                <label for="">
                    Телефон *
                </label>
                <input type="tel" name="phone" class="form-control" required>
            </div>
        </section>

        <!-- SECTION 2 -->


        <!-- SECTION 3 -->
        <h4></h4>
        <section>
            <div class="product">
                <div class="item">
                    <div class="left">
                        <a href="#" class="thumb">
                            <img src="statics/images/item-1.png" alt="">
                        </a>
                        <div class="purchase">
                            <h6>
                                <a href="#">Low Table/Stool</a>
                            </h6>
                            <span>x4</span>
                        </div>
                    </div>
                    <span class="price">$29</span>
                </div>
                <div class="item">
                    <div class="left">
                        <a href="#" class="thumb">
                            <img src="statics/images/item-2.png" alt="">
                        </a>
                        <div class="purchase">
                            <h6>
                                <a href="#">Set of 3 Porcelain</a>
                            </h6>
                            <span>x2</span>
                        </div>
                    </div>
                    <span class="price">$124</span>
                </div>
            </div>
            <div class="checkout">
                <div class="subtotal">
                    <span class="heading">Subtotal</span>
                    <span>$364</span>
                </div>
                <p class="shipping">
                    <span class="heading">Shipping</span>
                    there are no shipping methods available. please double check your address, or contact us if you
                    need any help.
                </p>
                <div class="total">
                    <span class="heading">Subtotal</span>
                    <span class="total-price">$364</span>
                </div>
            </div>
        </section>

        <!-- SECTION 4 -->
        <h4></h4>
        <section>
            <div class="checkbox-circle">
                <label class="active">
                    <input type="radio" name="billing method" value="Direct bank transfer" checked>Direct bank
                    transfer>
                    <span class="checkmark"></span>
                    <div class="tooltip">
                        Make your payment directly into our bank account. Please use your Order ID as the payment
                        reference. Your order will not be shipped until the funds have cleared in our account.
                    </div>
                </label>
                <label>
                    <input type="radio" name="billing method" value="Check payments">Check payments
                    <span class="checkmark"></span>
                    <div class="tooltip">
                        Please send a check to Store Name, Store Street, Store Town, Store State / County, Store
                        Postcode.
                    </div>
                </label>
                <label>
                    <input type="radio" name="billing method" value="Cash on delivery">Cash on delivery
                    <span class="checkmark"></span>
                    <div class="tooltip">
                        Pay with cash upon delivery.
                    </div>
                </label>
            </div>
        </section>
    </div>
</form>