body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.form-wrapper {
    width: 50%;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
}

button {
    margin: 0 auto;
    width: 100%;
}

.image-holder {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

@media screen and (max-width: 660px) {
    .form-wrapper {
        width: 90%;
    }
}

/*#flag_id_country{*/
/*    display: none !important;*/
/*}*/